.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: hsl(205, 78%, 60%);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.stories {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}

.story {
  background: white;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
}

.story__title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.story__info {
  margin-bottom: 0.5rem;
  color: hsl(210, 22%, 49%);
}

.story__readLink {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: hsl(205, 78%, 60%);
  text-decoration: none;
}

.story__removeBtn {
  background: transparent;
  color: hsl(360, 67%, 44%);
  border-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}